
QRCodePrint/QRCodePrint/QRCodePrint/bin/x86/Debug/QRCodePrint.vshost.exe
QRCodePrint/QRCodePrint/QRCodePrint/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QRCodePrint/QRCodePrint/QRCodePrint/obj/x86/Debug/QRCodePrint.csproj.FileListAbsolute.txt
