<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrintSetPath" value="TSC TTP-342E Pro" />
    <add key="PrintSetDPI" value="" />
    <add key="CompanyType" value="1" />
    <add key="PrintSetIP" value="192.168.0.9" />
    <add key="PrintSetPort" value="9100" />
  </appSettings>
</configuration>