<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarCodePrintTSB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BarCodePrintTSB.Properties.Settings>
            <setting name="BarCodePrint_onlineService_BarPrintServer" serializeAs="String">
                <value>http://localhost/BarPrintService/BarPrintServer.asmx</value>
            </setting>
        </BarCodePrintTSB.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="PrintSetPath" value="" />
    <add key="PrintSetIP" value="172.0.0.1" />
    <add key="PrintSetPort" value="2000" />
  </appSettings>
</configuration>