<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrintSetPath" value="TSC TTP-342E Pro (副本 1)" />
    <add key="PrintSetDPI" value="300" />
    <add key="CompanyType" value="1" />
    <add key="BoxSerialDate" value="2017-06-26" />
    <add key="BoxSerialNo" value="4" />
  </appSettings>
</configuration>